<div id="searchbox">
<%= form_for @user do |user| %>
<p>
  <%= user.label :email, "Email" %>
</p>
<p>
  <%= user.text_field :email, class: "form-control" %>
</p>
<p>
  <%= user.label :username, "Username" %>
</p>
<p>
  <%= user.text_field :username, class: "form-control" %>
</p>
<p>
  <%= user.label :password, "Password" %>
</p>
<p>
  <%= user.password_field :password, class: "form-control" %>
</p>
<p>
  <%= user.label :password_confirmation, "Confirm Password:" %>
</p>
<p>
  <%= user.password_field :password_confirmation, class: "form-control" %>
</p>
<p>
  <%= user.submit "Create", class: "btn btn-default" %>
</p>
<%end%>
</div>