<%= form_for @user do |user| %>
<p>
  <%= user.label :email, "Email:" %>
  <%= user.text_field :email %>
</p>
<p>
  <%= user.label :username, "Username:" %>
  <%= user.text_field :username %>
</p>
<p>
  <%= user.label :password, "Password:" %>
  <%= user.password_field :password %>
</p>
<p>
  <%= user.label :password_confirmation, "Confirm Password:" %>
  <%= user.password_field :password_confirmation %>
</p>
<p>
  <%= user.submit%>
</p>

<%end%>