<% @events.each do |event| %>
<div><%= event.name %></div> <%= button_to "View Event", event_url(event.id), method: :get %>
<% if event.tickets.length > 0 %>
  <%= event.tickets.each do |ticket| %> 
<p>
  <%= ticket.section %> <%= ticket.row %> <%= ticket.seat %>
</p>
<% end %>
<% end %>
<% end %>