
<div class="displaystuff">
<h1><%= @event.name %></h1>

<h2>Tickets Available</h2>
<table>
  <tr>
    <th>Section</th>
    <th>Row</th>
    <th>Seat</th>
  </tr>

  <% @event.tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.section %></td>
    <td><%= ticket.row %></td>
    <td><%= ticket.seat %></td>
    <td><%= button_to "Claim", '/events/:event_id/tickets/:id/claim', {event_id: @event.id, id: ticket.id} %></td>
  </tr>

  <% end %>




</table>

<p>
<%= button_to "Add Ticket", new_event_ticket_url(@event), method: :get, class: "btn btn-default" %>
</p>
</div>