<header>I'm a show</header>
<div>
<%= @event.name %>
<%= @event.cat %>
<%= @event.size %>
</div>

<h1>Tickets Available</h1>

<table>
  <tr>
    <th>Section</th>
    <th>Row</th>
    <th>seat</th>
  </tr>

  <%= @event.tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.section %></td>
    <td><%= ticket.row %></td>
    <td><%= ticket.seat %></td>
    <td><%= ticket.poster.email %></td>
    <td><%= button_to "Claim", event_ticket_url(@event, ticket.id), controller: :tickets, action: :show, method: :get %></td>
    <td><%= button_to "Delete", event_ticket_url(@event, ticket.id), controller: :tickets, action: :destroy, method: :delete %></td>
    <td><%= button_to "Edit", edit_event_ticket_url(@event, ticket.id), controller: :tickets, action: :edit, method: :get %></td>
  </tr>

  <% end %>




</table>

<p>
<%= button_to "Add Ticket", new_event_ticket_url(@event), method: :get %>
</p>