<%= form_for [@event, @ticket] do |ticket|%>
<p>
  <%= ticket.label :section, "Section"%>
  <%=  ticket.text_field :section %>
</p>

<p>
  <%= ticket.label :row, "Row"%>
  <%= ticket.text_field :row%> 
</p>

<p>
  <%= ticket.label :seat, "Seat"%>
  <%= ticket.text_field :seat%>
</p>

<p>
  <%= ticket.submit %>
</p>

<%end%>