<%= form_for @venue do |ven|%>
<p>
	<%= ven.label :name, "Name"%>
	<%=  ven.text_field :name%>
</p>

<p>
	<%= ven.label :cat, "Category"%>
	<%= ven.text_field :cat%> 
</p>

<p>
	<%= ven.label :size, "Size"%>
	<%= ven.text_field :size%>
</p>

<p>
	<%= ven.submit %>
</p>

<%end%>