<h1>This is the search</h1>

<%= form_tag "/venues/getsearch" do %>
  <%= label_tag :lat, "Latitude:" %>
  <%= text_field_tag :lat%>

  <%= label_tag :lon, "Longitude:" %>
  <%= text_field_tag  :lon%>
  <%= label_tag :range, "Range:" %>
  <%= text_field_tag :range%>
  <%= submit_tag%>
<% end %>
