<!DOCTYPE html>
<html>
<head>
  <title>Swicket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id="navigation" role="navigation">
      <%= render 'layouts/nav' %>
	</nav>

<%= yield %>

</body>
</html>
